# =========================
# Virtual environments / IDE
# =========================
.venv/
.vscode/
AGENTS.md
.python-version
main.py
pyproject.toml

# =========================
# Secrets / Config
# =========================
data_source/.env
*.yaml.dec
*.dec.yaml
secret_enc/
.secret_enc/
api_proxy/.env
