# =========================
# Virtual environments / IDE
# =========================
.venv/
.vscode/
AGENTS.md

# =========================
# Secrets / Config
# =========================
data_source/.env
*.yaml.dec
*.dec.yaml
secret_enc/
.secret_enc/