executor: CeleryExecutor

data:
  metadataConnection:
    user: airflow
    protocol: postgresql+psycopg2
    host: postgresql
    port: 5432
    db: airflow_metadata
    sslmode: disable

env:
  - name: AIRFLOW__PROVIDERS_ODBC__ALLOW_DRIVER_IN_EXTRA
    value: "true"

images:
  airflow:
    repository: an7on/airflow-mssql
    tag: latest
    pullPolicy: Always

nodeSelector:
  kubernetes.io/hostname: ampere-k8s-node3

workers:
  persistence:
    storageClassName: local-path
  livenessProbe:
    timeoutSeconds: 60
    periodSeconds: 60
    failureThreshold: 3
    initialDelaySeconds: 30
  replicas: 2
  keda:
    enabled: true
    minReplicaCount: 2
    maxReplicaCount: 3
    pollingInterval: 30
    cooldownPeriod: 180
  resources:
    requests:
      cpu: "300m"
      memory: "768Mi"
    limits:
      cpu: "750m"
      memory: "2Gi"

config:
  celery:
    worker_concurrency: 2

triggerer:
  persistence:
    storageClassName: local-path
  replicas: 1
  resources:
    requests:
      cpu: "200m"
      memory: "768Mi"
    limits:
      cpu: "500m"
      memory: "1Gi"
  livenessProbe:
    timeoutSeconds: 60
    periodSeconds: 60
    failureThreshold: 3
    initialDelaySeconds: 20

redis:
  persistence:
    storageClassName: local-path

dags:
  persistence:
    storageClassName: local-path
  gitSync:
    enabled: true
    repo: https://github.com/AntonMiniazev/ampere_project.git
    branch: master
    subPath: "dags"
    credentialsSecret: git-credentials
    ref: HEAD
    period: 15s

logs:
  persistence:
    enabled: true
    size: 5Gi
    storageClassName: local-path

postgresql:
  enabled: false

webserver:
  enabled: false

apiServer:
  waitForMigrations:
    enabled: false

  startupProbe:
    initialDelaySeconds: 20
    periodSeconds: 10
    timeoutSeconds: 5
    failureThreshold: 30
    scheme: HTTP

  readinessProbe:
    initialDelaySeconds: 15
    periodSeconds: 10
    timeoutSeconds: 5
    failureThreshold: 10
    scheme: HTTP

  livenessProbe:
    initialDelaySeconds: 15
    periodSeconds: 10
    timeoutSeconds: 5
    failureThreshold: 10
    scheme: HTTP

  resources:
    requests:
      cpu: "200m"
      memory: "768Mi"
    limits:
      cpu: "700m"
      memory: "1560Mi"
  service:
    type: NodePort
    ports:
      - name: api-server
        port: 8080
        targetPort: api-server
        nodePort: 30080
  env:
    - name: AIRFLOW__API__BASE_URL
      value: "http://airflow.local"
    - name: AIRFLOW__API__WORKERS
      value: "1"

scheduler:
  livenessProbe:
    timeoutSeconds: 90
    periodSeconds: 60
    failureThreshold: 5
  replicas: 1
  resources:
    requests:
      cpu: "400m"
      memory: "768Mi"
    limits:
      cpu: "600m"
      memory: "1Gi"

dagProcessor:
  replicas: 1
  resources:
    requests:
      cpu: "500m"
      memory: "1280Mi"
    limits:
      cpu: "1"
      memory: "2Gi"
  livenessProbe:
    timeoutSeconds: 60
    periodSeconds: 60
    failureThreshold: 5
    initialDelaySeconds: 30
