external-secrets:
  enabled: true
  installCRDs: true
  replicaCount: 1

nodeSelector:
  kubernetes.io/hostname: {{ .Environment.Values.infra.node }}

webhook:
  nodeSelector:
    kubernetes.io/hostname: {{ .Environment.Values.infra.node }}

certController:
  nodeSelector:
    kubernetes.io/hostname: {{ .Environment.Values.infra.node }}

resources:
  enabled: false
